<section class="new-post-section">
 
</section>

{{#if posts.length}}
<section>
        <h2 class="mb-4">Your previous posts</h2>

    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-content post}}
           </li>
        {{/each}}
    </ul>
</section>
{{/if}}

   <button type="submit" class="btn" id="new-post">+ Create new post</button>
<script src="/js/dashboard.js"></script>