<div class="card">
    <div class="card-header">
        <h5> <a href="/post/{{id}}" class="links">
                {{post.post_title}} </h5></a>
        <div class="author">
            <p> Posted by You on {{format_date createdAt}} </p>

        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{post.post_content}}</p>
    <button  type="button" class="btn btn-outline-success edit" id="edit">Edit Post</button>
    <button type="button" class="btn btn-outline-danger delete" id="delete">Delete Post</button>
    </div>
</div>

<script src="/js/user-post.js"></script>